@import "public.less";




    .academychild{
        min-height: 700px;
        .academynameeach{
            display: block;
            width: 165px;
            height: 168px;
            float: left;
            margin-right: 93px;
            color: #999;
            text-decoration: none;
            text-align: center;
            .academyimg{
                width: 80px;
                height: 80px;
            }
            .academyname{
                font-size: 16px;

            }
        }

    }



