@import "public.less";
.contentbox{
    background-color: #fafafa;
    .coursehead{
        height: 290px;
        background-color: #fafafa;
        margin-top: 60px;
        overflow: hidden;
        .courseheadchild{
            height: 290px;
            // background-color: lemonchiffon;
            .leftimg{
                float: left;
                .bigimg{
                    display: block;
                    width:360px;
                    height: 240px;
                }
                .share{
                    margin-top: 20px;
                    .sharetxt{
                        margin-top: 5px;
                        float: left;
                        margin-right: 20px;
                        font-size: 18px;
                    }
                    .shareqq,
                    .shareweixin,
                    .sharexinlang{
                        float: left;
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-right: 12px;
                    }
                }
            }
            .righttxt{
                float: right;
                width: 795px;
                position: relative;
                .righttitle{
                    font-size: 28px;
                    margin-top: 16px;
                }
                .rightschool{
                    margin-top: 45px;
                    font-size: 18px;
                }
                .rightteach{
                    
                    font-size: 18px;
                }
                .rightclassify{
                    margin-top: 40px;
                    font-size: 16px;
                }
                .addclassify{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 200px;
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    background-color: #81d282;
                    color: #fff;
                    font-size: 22px;
                    border-radius: 20px;
                }
            }
        }
    }
    .mainpart{
        background-color:  #fafafa;
        height: 800px;
        .mainpartchild{
            height: 800px;
            background-color: violet;
            .mainpartleft{
                width: 860px;
                float: left;
                height: 800px;
            }
            .mainpartright{
                width: 340px;
                float: left;
                height: 800px;
            }
        }
    }
}
