@import "public.less";
@import "teachpublic";

table{
    border-collapse:separate; 
    border-spacing:0px 30px;
    tr{
        th,
        td{
            font-size: 18px;
            // border: 1px dotted #31b24e;
            text-align: center;
        }
        th{
            font-weight: 400;
            font-size: 18px;
        }
    }
}
