@import "public.less";

// 注册模态框开始
.modal-content{
    width: 500px;
    height: 500px;
    .registertitle{
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 25px;
        color: #000;
    }
    input[type="text"] {
                    // 去除默认边框
                    outline-style:none;
        display: block;
        width: 400px;
        height: 50px;
        border: 1px solid #33b150;
        border-radius: 15px;
        padding-left: 20px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
   .registerbutton{
        width:400px;
        height:50px;
        border-radius: 15px;
        background-color: #33b150;
        color: #fff;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        margin: 0 auto;
    }
    .else{
        width:400px;
        position: relative;
        margin: 0 auto;
        margin-top:67px;
        span{
            margin-right: 20px;
        }
        img{
            width: 40px; 
            height: 40px;
            margin-left: 10px;
        }
    }
}
// 注册模态框结束

// 大轮播图开始
.banner{
    height: 600px;
    background-color: lightblue;
    position: relative;
    // 设置overflow可以让轮播图的宽度一直小于屏幕的宽度。不会出现横向滚动条。
    overflow: hidden;
    min-width: 1200px;
    .slide {
    //设置轮播图的宽度，这样就不会随着banner的宽度改变而改变图片的长宽比了。
       width: 1920px;
       position: absolute;
       transform: translate(-50%,-50%);
       left: 50%;
       top: 50%;
       .carousel-indicators li{
            background-color: #656766;
       }
    //    修改bootstrap默认的小圆点的大小
       .carousel-indicators .active{
           background-color: #33b14e;
           width: 10px;
           height: 10px;
           margin-bottom: 1px;


       }
      .carousel-inner .item img{
          width: 1920px;
           height: 600px;
       }
    }
    .catalogue{
        position: absolute;
        width: 300px;
        height: 600px;
        background-color: rgba(129,210,131,0.4);
        // opacity: 0.3;
        z-index: 1;
        ul {
            list-style: none;
            // ul默认会有下外边距
            margin: 0;
            a{
                display: block;
                text-decoration: none;
                color: #fff;
                font-size: 20px;
                height: 60px;
                line-height: 60px;
                text-align: center;
            }
        }
        .next{
            background-color: #81d283;
            height: 60px;
            line-height: 60px;
            text-align: center;
            color: #fff;
            font-size: 20px;
        }
    }
}
// 大轮播图结束
// 带横杠的标题开始
.headline{
    height: 164px;
    position: relative;
    // flex布局只能用在标准流中，如果子元素设置absolute在ie11就不作用了。
    display: flex;
    justify-content: center;
    align-items: center;
    //  线条宽度固定用的是绝对定位。
    .line{
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        height: 1px;
        width: 200px;
        background-color: #ccc;
    }
    // 文字宽度不固定，用的是flex布局固定，用position:absolute;让字体出现在线条上方。
    .font{
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        background-color: @background-color;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px;
    }
    .viewmore{
        position: absolute;
        right: 0;
        top: 50%;
        color: @font-color;
        text-decoration: none;
        font-size: 18px;
    }
}
// 带横杠的标题结束
// 课程列表开始
.content{
    // 这个高度暂定
    // height:1020px;
    background-color: @background-color;
    padding-bottom: 90px;
    // 因为当超小屏幕的时候，背景色只有一个屏幕的宽度，
    // 当滑动条向右滚动就会出现有部分没有背景色的尴尬事情。
    //所以写下面这一行。
    min-width: 1200px;
    ul{
        list-style: none;
        display: block;
        // width: 1200px;
        li{
            margin-right: 80px;
            margin-bottom: 20px;
            float: left;
            a {
                width: 240px;
                height: 300px;
                background-color: @background-color;
                display: block;
                position: relative;
                text-decoration: none;
                border-radius: 7px;
                overflow: hidden;
                transition: all 0.3s;
               .courseimg{
                   width: 240px;
                   height: 180px;
                   display: block;
                   background-color: lime;
               }
               .title{
                   text-align: center;
                   font-size: 18px;
                   margin-top: 10px;
                   color: @font-color;
               }
               .schoolname{
                   width: 240px;
                   padding-left: 20px;
                   padding-right: 20px;
                   margin-top: 14px;
                   box-sizing: border-box;
                   color: #999999;
                   position: relative;
                   .imgicon{
                       width: 20px;
                       height: 20px;

                   }
                   div{
                       width: 22px;
                       height: 18px;
                       background-color: lime;
                       float: left;
                   }
                   span{
                       position: absolute;
                       top: 2px;
                       left: 43px;
                    }
               }
               .numberofpeople{
                   position:absolute;
                //    width: 40px;
                   height: 18px;
                //    background-color: pink;
                   right: 20px;
                   bottom: 10px;
                   color: #999999;
                   span{
                       color: @font-color;
                   }
               }

            }
            a:hover {
                box-shadow: 0px 0px 20px 5px #999;
                margin-top: -5px;
                // 因为margin-top上移了5px，所以下面要添加5px，否则如果分两层
                // 底下的布局会乱。
                margin-bottom: 5px;
            }
        }
        li:last-child{
            margin-right: 0;
        }

    }
}
// 课程列表结束
// 学校展示开始
.school{
    height:410px;
    background-color: #ddefdf;
    padding-top: 35px;
    min-width: 1200px;
    .font{
        background-color: #ddefdf;
    }
    .nameofinstitution{
        list-style: none;
        // display: flex;
        // justify-content: space-between;
        margin-top: -40px;
        li{
            // background-color: burlywood;
            width: 165px;
            height: 168px;
            float: left;
            margin-right: 93px;
            a{
                text-decoration: none;
                display: block;
                height: 150px;
                .images{
                    width: 164px;
                    height: 137px;
                    position:relative;
                    overflow: hidden;
                    img{            
                        position: absolute;
                        left: 50%;
                        top:50%;
                        transform: translate(-50%,-50%);
                        display: block;
                        width: 165px;
                        height: 137px;
                        transition:all 0.3s;
                        // background-color: #80c47f;
                    }
                }

                .name {
                    color: #000;
                    text-align: center;
                    font-size: 18px;
                }
            }
            a:hover{
                img{
                    width: 165*1.2px;
                    height: 137*1.2px;
                }
            }
        }
        li:last-child{
            margin-right: 0;
        }
    }
}
// 学校展示结束



