.banxin {
  margin: 0 auto;
  width: 1200px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  margin: 0;
  padding: 0;
}
.header {
  height: 90px;
  font-size: 18px;
  min-width: 1200px;
}
.header .logo {
  display: block;
  width: 115px;
  height: 51px;
  float: left;
  background-color: lime;
  margin-top: 10px;
}
.header ul {
  display: block;
  list-style: none;
}
.header ul li {
  margin-left: 62px;
  float: left;
  line-height: 90px;
}
.header ul li a {
  color: #000;
  text-decoration: none;
}
.header ul li:nth-child(1) a {
  color: #32b251;
}
.header ul li:hover a {
  color: #32b251;
}
.header .search {
  margin-left: 60px;
  float: left;
  height: 60px;
}
.header .search .searchicon {
  float: left;
  width: 20px;
  height: 40px;
  background-color: hotpink;
  margin-top: 25px;
  margin-right: 10px;
}
.header .search input {
  float: left;
  width: 250px;
  height: 40px;
  outline-style: none;
  border: 0px;
  margin-top: 25px;
  border-radius: 20px;
  padding-left: 18px;
  border: 1px solid #999;
}
.header .login {
  margin-top: 25px;
  float: right;
  width: 186px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.header .login .loginicon {
  width: 26px;
  height: 40px;
  float: left;
}
.header .login .log {
  float: right;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  background-color: #33b150;
  border-radius: 20px 0px 0 20px;
}
.header .login .register {
  float: right;
  width: 70px;
  height: 40px;
  background-color: #80c47f;
  border-radius: 0px 20px 20px 0px;
}
.corporation {
  height: 262px;
  background-color: #fafafa;
  min-width: 1200px;
}
.corporation .friendfather {
  position: relative;
  padding-top: 60px;
}
.corporation .friendfather .friend {
  float: left;
}
.corporation .friendfather .friend li {
  list-style: none;
}
.corporation .friendfather .friend li a {
  text-decoration: none;
  color: #000;
  height: 30px;
  line-height: 32px;
  font-size: 14px;
}
.corporation .friendfather .right {
  float: right;
  margin-top: 43px;
  box-sizing: border-box;
}
.corporation .friendfather .right .center {
  position: relative;
  box-sizing: border-box;
}
.corporation .friendfather .right .center img {
  display: block;
  position: absolute;
  left: 170px;
}
.corporation .friendfather .right .center .science {
  position: absolute;
  left: 195px;
  height: 26px;
  line-height: 26px;
}
.corporation .friendfather .right .link {
  padding-top: 45px;
  width: 500px;
}
.corporation .friendfather .right .link li {
  list-style: none;
  float: left;
}
.corporation .friendfather .right .link li a {
  display: block;
  text-decoration: none;
  color: #000;
}
.corporation .friendfather .right .link li:nth-child(2n) {
  color: #32b251;
  margin-left: 25px;
  margin-right: 25px;
}
.footer {
  height: 120px;
  background-color: #b2dfb3;
  margin-bottom: 30px;
  min-width: 1200px;
}
.footer .footerbanxin {
  height: 120px;
  position: relative;
}
.footer .footerbanxin .footercenter {
  width: 414px;
  height: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  line-height: 30px;
}
.modal-content {
  width: 500px;
  height: 500px;
  font-size: 20px;
  background-color: #f2f2f2;
}
.modal-content .registertitle {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  color: #000;
}
.modal-content .telephone,
.modal-content .username,
.modal-content .password {
  outline-style: none;
  display: block;
  width: 400px;
  height: 50px;
  border: 1px solid #33b150;
  border-radius: 15px;
  padding-left: 20px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: transparent;
}
.modal-content .codefather {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
.modal-content .codefather .code {
  float: left;
  outline-style: none;
  display: block;
  width: 200px;
  height: 50px;
  border: 1px solid #33b150;
  border-radius: 15px;
  padding-left: 20px;
  margin-bottom: 25px;
  background-color: transparent;
}
.modal-content .codefather .codeimg {
  float: left;
  width: 100px;
  height: 37px;
  background-color: pink;
  display: block;
  margin-top: 6px;
  margin-left: 20px;
}
.modal-content .codefather .check {
  float: right;
  line-height: 50px;
  color: #009944;
}
.modal-content .codefather .codeerr {
  position: absolute;
  top: 48px;
  left: 71;
  color: red;
  display: none;
}
.modal-content .registerbutton {
  width: 400px;
  height: 50px;
  border-radius: 15px;
  background-color: #33b150;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
}
.modal-content .else {
  width: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: 67px;
}
.modal-content .else span {
  margin-right: 20px;
}
.modal-content .else img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.searchresult .courselearning {
  position: relative;
  height: 210px;
  margin-bottom: 40px;
}
.searchresult .courselearning .courselearningchild {
  display: block;
  height: 210px;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  color: #000;
}
.searchresult .courselearning .courselearningchild .searchimg {
  display: block;
  float: left;
  width: 300px;
  height: 210px;
  background-color: purple;
}
.searchresult .courselearning .courselearningchild .searchright {
  float: left;
  height: 210px;
  width: 634px;
  margin-left: 55px;
}
.searchresult .courselearning .courselearningchild .searchright .searchtitle {
  font-size: 23px;
  margin-top: 35px;
  height: 35px;
  line-height: 35px;
}
.searchresult .courselearning .courselearningchild .searchright .searchschool {
  height: 23px;
  font-size: 18px;
  line-height: 23px;
}
.searchresult .courselearning .courselearningchild .searchright .searchnarrate {
  margin-top: 25px;
  font-size: 18px;
  color: #999;
}
.searchresult .courselearning .courselearningchild:hover {
  background: linear-gradient(to right, #b2dfb3, #ffffff);
  box-shadow: 0px 20px 20px -17px #999999;
  margin-top: -5px;
}
.banner {
  height: 600px;
  background-color: lightblue;
  position: relative;
  overflow: hidden;
  min-width: 1200px;
}
.banner .slide {
  width: 1920px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.banner .slide .carousel-indicators li {
  background-color: #656766;
}
.banner .slide .carousel-indicators .active {
  background-color: #33b14e;
  width: 10px;
  height: 10px;
  margin-bottom: 1px;
}
.banner .slide .carousel-inner .item img {
  width: 1920px;
  height: 600px;
}
.banner .catalogue {
  position: absolute;
  width: 300px;
  height: 600px;
  background-color: rgba(129, 210, 131, 0.4);
  z-index: 1;
}
.banner .catalogue ul {
  list-style: none;
  margin: 0;
}
.banner .catalogue ul a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.banner .catalogue ul a:hover {
  background-color: #81d283;
}
.banner .catalogue .next {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.banner .catalogue .next:hover {
  background-color: #81d283;
}
.headline {
  height: 164px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline .line {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: 1px;
  width: 200px;
  background-color: #ccc;
}
.headline .font {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #fafafa;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}
.headline .viewmore {
  position: absolute;
  right: 0;
  top: 50%;
  color: #32b251;
  text-decoration: none;
  font-size: 18px;
}
.content {
  background-color: #fafafa;
  padding-bottom: 90px;
  min-width: 1200px;
}
.content ul {
  list-style: none;
  display: block;
}
.content ul li {
  margin-right: 80px;
  margin-bottom: 20px;
  float: left;
}
.content ul li a {
  width: 240px;
  height: 300px;
  background-color: #fafafa;
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 7px;
  overflow: hidden;
  transition: all 0.3s;
}
.content ul li a .courseimg {
  width: 240px;
  height: 180px;
  display: block;
  background-color: lime;
}
.content ul li a .title {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  color: #32b251;
}
.content ul li a .schoolname {
  width: 240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 14px;
  box-sizing: border-box;
  color: #999999;
  position: relative;
}
.content ul li a .schoolname .imgicon {
  width: 20px;
  height: 20px;
}
.content ul li a .schoolname div {
  width: 22px;
  height: 18px;
  background-color: lime;
  float: left;
}
.content ul li a .schoolname span {
  position: absolute;
  top: 2px;
  left: 43px;
}
.content ul li a .numberofpeople {
  position: absolute;
  height: 18px;
  right: 20px;
  bottom: 10px;
  color: #999999;
}
.content ul li a .numberofpeople span {
  color: #32b251;
}
.content ul li a:hover {
  box-shadow: 0px 0px 20px 5px #999;
  margin-top: -5px;
  margin-bottom: 5px;
}
.content ul li:last-child {
  margin-right: 0;
}
.school {
  height: 410px;
  background-color: #ddefdf;
  padding-top: 35px;
  min-width: 1200px;
}
.school .font {
  background-color: #ddefdf;
}
.school .nameofinstitution {
  list-style: none;
  margin-top: -40px;
}
.school .nameofinstitution li {
  width: 165px;
  height: 168px;
  float: left;
  margin-right: 93px;
}
.school .nameofinstitution li a {
  text-decoration: none;
  display: block;
  height: 150px;
}
.school .nameofinstitution li a .images {
  width: 164px;
  height: 137px;
  position: relative;
  overflow: hidden;
}
.school .nameofinstitution li a .images img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 165px;
  height: 137px;
  transition: all 0.3s;
}
.school .nameofinstitution li a .name {
  color: #000;
  text-align: center;
  font-size: 18px;
}
.school .nameofinstitution li a:hover img {
  width: 198px;
  height: 164.4px;
}
.school .nameofinstitution li:last-child {
  margin-right: 0;
}
