*{ margin:0; padding:0; list-style:none;} 
a{ text-decoration:none;} 
a:hover{ text-decoration:none;} 
.tcdPageCode{
    padding: 15px 20px;
    text-align: left;
    color: #ccc;
    display:inline-block;
} 
.tcdPageCode a{
    display: inline-block;
    color: #81d283;
    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px; 
    padding: 0 10px;
    border: 1px solid #81d283;
    margin: 0 7px;
    border-radius: 8px;
    vertical-align: middle;
    font-size: 20px;
    padding: 0 16px;
    } 
.tcdPageCode a:hover{
    text-decoration: none;
    border: 1px solid #81d283;
} 
.tcdPageCode span.current{
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #81d283; 
    border: 1px solid #81d283;
    border-radius: 8px;
    vertical-align: middle;
    font-size: 20px;
    padding: 0 16px;
    text-align: center;
} 
.tcdPageCode span.disabled{ 
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 2px; color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    vertical-align: middle;
    font-size: 20px;
    width: 122px;
    text-align: center;
} 
.tcdPageCode .nextPage{
    background-color: #81d283;
    color: #fff;
    width: 122px;
}
.tcdPageCode .prevPage{
    background-color: #81d283;
    color: #fff;
    width: 122px;

}
.tcdPageCode span{
    vertical-align: bottom;
    color: #81d283;
}