/* 中间内容 */
.tt_content {
  margin: 0 auto;
  padding: 65px 0 130px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 左边内容 */
.tt_content_left {
  width: 240px;
}
.tt_content_left img {
  width: 240px;
  height: 158px;
}
.tt_content_leftmenu {
  margin-top: 40px;
}
.tt_content_leftmenu a {
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 240px;
  height: 56px;
  border-radius: 10px;
  margin-bottom: 18px;
  color: #666;
  font-size: 18px;
  text-align: center;
  line-height: 56px;
  text-decoration: none;
}
.tt_content_leftmenu a:hover {
  color: #81d283;
}
.active {
  background-color: #81d283;
  color: #fff !important;
}
/* 右边内容 */
.tt_content_right {
  width: 905px;
  overflow: hidden;
}
.tt_content_right_title {
  font-size: 24px;
  color: #31b24e;
  border-bottom: 2px solid #31b24e;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.maincontent {
  background-color: #fafafa;
}
