@import "public.less";
@import "publicteacherspace.less";

// /* 中间内容 */
// .tt_content {
//     margin: 0 auto;
//     padding: 65px 0 130px;
//     width: 1200px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }
// /* 左边内容 */
// .tt_content_left {
//     width: 298px;
// }
// .tt_content_leftmenu {
//     margin-top: 50px;
// }
// .tt_content_leftmenu a {
//     display: block;
//     border: 2px solid #999;
//     box-sizing: border-box;
//     width: 298px;
//     height: 78px;
//     border-radius: 20px;
//     margin-bottom: 18px;
//     color: #666;
//     font-size: 24px;
//     text-align: center;
//     line-height: 78px;
//     text-decoration: none;
// }
// .tt_content_leftmenu a:hover {
//     color: #81d283;
// }
// .active {
//     background-color: #81d283;
//     color: #fff !important;
// }
// /* 右边内容 */
// .tt_content_right {
//     width: 864px;
//     overflow: hidden;
// }
// .tt_content_right_title {
//     font-size: 28px;
//     color: #31b24e;
//     border-bottom: 2px solid #31b24e;
//     padding-bottom: 20px;
// }
.tt_team{
    // width: 864px;
    .filebox{
        padding-top: 30px;
        .videoshow{
            width: 864px;
            background-color: #000;
            video{
                width: 800px;
                display: block;
                margin: 0 auto;
                
            }
        }
    }


}