@import "public.less";
.righttitle{
    .studybutton{
        display: block;
        color: #fff;
        border-radius: 10px 0 0 10px;
        width: 170px;
        height: 56px;
        background-color: #33b150;

    }
    .scoresbutton{
        width: 170px;
        height: 56px;
        background-color: #81d283;
    }
}