@import "public.less";
// 头部开始
.bigbox{
    // 为了实现小屏幕时底部一直保持在底部
    min-height: 100%;
    background-color: #fafafa;
    position: relative;
.header{
    background-color: #fff;
    ul{
        li:nth-child(1) a {
            color: #000;
        }
        // 为了解决课程页导航栏中的首页两个字没有hover效果。
        li:hover a {
            color: @font-color;
        }

    }
}
// 头部结束
.mainpart{
    // height: 1180px;
    background-color: @background-color;
    min-width: 1200px;

    .searchnum{
        height: 114px;
        // background-color: lime;
        line-height: 114px;
        padding-left: 40px;
        font-size: 16px;
        span{
            color: #32b251;
        }
    }
    .next{
        padding-bottom: 50px;
        text-align: center;
        .whj_jqueryPaginationCss-1{
            .whj_border{
                border-color: @font-color;
               
                margin: 0 20px;
             
            }
            .whj_hover:hover {
                background-color: #e7f4e7;
            }
            .whj_checked{
                background-color: #e7f4e7;
            }
            .whj_padding:nth-last-child(2) {
                color: @font-color;
            }
            .whj_padding:nth-child(1) {
                color: @font-color;

            }
        }
    }
    .wareNameText{
        font-size: 16px;
    }

}

}
