@import "public.less";
.mainpart{
    // height: 1180px;
    background-color: @background-color;
    min-width: 1200px;
    .searchnum{
        height: 114px;
        // background-color: lime;
        line-height: 114px;
        padding-left: 40px;
        font-size: 16px;
        span{
            color: #32b251;
        }
    }

}