@import "public.less";
@import "teachpublic";
.mainpartportion{

.teacherheader{
    margin-top: -65px;
    height: 420px;
    position: relative;
    overflow: hidden;
    .backgroundimg{
        width: 1920px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0%);
       
        
    }
    .lucency{
        width: 1920px;
        height: 420px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0%);
        background: linear-gradient(to right,transparent, #fafafa); /* 标准的语法 */
        z-index: 1;
    }
    .tintroduce{
        position: absolute;
        z-index: 2;
        width: 1200px;
        left: 50%;
        transform: translate(-50%,0%);
        padding-top: 80px;
        img{
            width: 262px;
            height: 262px;
            border-radius: 50%;
            
        }
        .teacherna{
            margin-left: 35px;
            div:first-child{
                margin-top: 80px;
                font-size: 30px;
                margin-bottom: 40px;
            }
            div:last-child{
                 font-size: 20px;
            }

        }
        

    }
}
.mycourse{

 .rightresult{
     float:left;
    .righttitle{
        border: transparent;
        margin-top: 40px;
        .studybutton,
        .scoresbutton{
            display: block;
            color: #fff;
            border-radius: 10px 0 0 10px;
            width: 170px;
            height: 56px;
            background-color: #33b150;
            text-decoration: none;
            margin-right: 1px;
            line-height: 56px;
            font-size: 22px;
            text-align: center;
        }
        .scoresbutton{
            border-radius: 0 10px 10px 0;
            background-color: #81d283;
        }
    
    }
    .rightcontent{
        padding-top: 10px;
        margin-top: 40px;
        width: 1200px;
        .schedule{
            //添加课程
            .courseicon{
                width: 240px;
                height: 320px;
                margin-right: 60px;
                margin-bottom: 40px;
                border-radius: 20px;
                border: 2px dashed #80c47e;
                position: relative;
                float: left;
                color: #80c47e;
                .add{
                    text-align: center;
                    margin-top: 85px;
                    font-size: 80px;
                   
                }
                .addtext{
                    position: absolute;
                    top: 54%;
                    left: 50%;
                    transform: translate(-50%,0%);
                    font-size: 24px;
                }
            }
            //已经有的课程
            .courseimg{
                width: 240px;
                height: 320px;
                border-radius: 20px;
                // border: 2px dashed #80c47e;
                position: relative;
                float: left;
                color: #000;
                margin-right: 60px;
                margin-bottom: 40px;
                overflow: hidden;
                .courseshow{
                    width: 240px;
                    height: 320px;
                    border-radius: 20px;
                }
                .imgtext{
                    position: absolute;
                    top: 50%;
                    transform: translate(0%,-50%);
                    background-color: purple;
                    width: 240px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 24px;
                    text-align: center;
                    background: linear-gradient(to right,transparent, rgba(255,255,255,.8) 30%, rgba(255,255,255,.8) 70%,transparent); /* 标准的语法 */
                    text-overflow: ellipsis; 
                    white-space: nowrap;
                }
            }
            
        }
 
        .scoreranking{
            display: none;

        }
        .pagebox{
            text-align: center;
        }
    }

    .scoreranking{
        .headimg{
            
            .headicon{
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }



            .imgtitle{
                margin-top: 82px;
                margin-left: 50px;
                width: 200px;
                height: 60px;
                line-height:  60px;
                font-size: 30px;
                text-align: center;
                border-radius: 10px;
                background-color: #80c47f;
                color:#fff;
                position: relative;
            }
            .filebtn{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                outline: none;
                background-color: transparent;
                filter:alpha(opacity=0);
                opacity:0;
            }

        }
        .nickname,
        .time{
            margin-bottom: 40px;
            input{
                height: 82px;
                width: 400px;
                border:1px solid #666;
                color: #666;
                border-radius: 10px;
                font-size: 30px;

            }
        }
        .sex{
            height: 82px;
            width: 182px;
            border:1px solid #666;
            color: #666;
            border-radius: 10px;
            font-size: 30px;
            margin-bottom: 40px;
            select{
                height: 80px;
                width: 72px;
                border: none;
                background: #fafafa;
                outline: none;
                option{
                    background-color:#81d283;
                }
            }
        }
        .headline{
            color: #33b150;
            font-size: 36px;
            margin-top: 50px;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .signature{
            font-size: 30px;
            width:800px;
            height: 300px;
            text-align: left;
            margin-bottom: 40px;
        }
        .confirm{
            text-align: center;
            line-height:55px;
            height: 55px;
            width: 200px;
            color: #fff;
            background-color:#81d283;
            font-size: 30px;
            border-radius: 10px;
        }
    }

}
}
}
.modalcenter{
    width: 600px;
    // height: 0;
    min-height: 600px;
}
.curriculumprovision{
    margin: 0 50px 50px 50px;
    font-size: 20px;
    .curriculumname,
    .curriculumschool,
    .curriculumclass{
        
        height: 50px;
        line-height: 50px;
        margin-bottom: 28px;
        input{
            width:350px;
            display: block;
            float: right;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #33b150;
        }
        select{
            width: 350px;
            display: block;
            float: right;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #33b150;
        }
    }
    .curriculumimg{
        img{
            float: right;
            display: block;
            width: 355px;
            height: 220px;
            border-radius: 5px;
            background-color: palevioletred;
        }
    }
    .save{
        width: 315px;
        height: 55px;
        border-radius: 5px;
        background-color: #33b150;
        line-height: 55px;
        text-align: center;
        margin: 0 auto;
        color: #fff;
    }
}
