@import "public.less";
@import "teachpublic";
.maincontent .mainpartportion .rightresult .rightcontent{
    padding-top: 30px;
    .underwayexamination{
        .countdown{
            width: 200px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            font-size: 18px;
            background-color:#81d282;
            border-radius: 5px;
        }

    }
    .bodyexamination{
        .preptitle{
            text-align: center;
            font-size: 18px;
            // color: red;
            font-weight: 700;
        }

        .eachquestion{
            font-size: 16px;
            margin-bottom: 40px;
            .questitl{
                margin-bottom: 20px;
            }
            .answertitl{
                .answereach{
                    margin-bottom: 10px;
                    input{
                        margin-right: 10px;
                    }
                }


            }
        }


        .submitexa{
            .submitchild{
                width: 100px;
                text-align: center;
                font-size: 18px;
                border-radius: 5px;
                color: #fff;
                margin: 0 auto;
                height: 40px;
                line-height: 40px;
                background-color: #ccc;
            }
        }
    }

}