/* 中间模块 */
.personal_question_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.question_content {
    margin-top: 60px;
    width: 1200px;
}
.question_content_card {
    margin-bottom: 50px;
    /*border-bottom: 1px solid #81d283;*/
}
.question_content_card_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 左边 */
.question_content_card_left {
    width: 298px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.question_content_card_left>img {
    width: 298px;
    height: 200px;
}
.card_left_text {
    margin-top: 10px;
}
.school_icon {
    width: 20px;
    height: 20px;
}
.discuss_course_name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.discuss_school_name {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 右边 */
.question_content_card_right {
    width: 864px;
}
.one_answer {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #81d283;
}
.ask_answer_problem {
    margin-bottom: 40px;
    font-size: 18px;
}
.answer_text {
    margin-left: 20px;
    font-size: 16px;
}
.answer_people {
    text-align: right;
    color: #999999;
    font-size: 12px;
}
.answer_people>span {
    color: #333333;
}

