.personal_question_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.question_content {
    margin-top: 60px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.one_course {
    margin: 0 10px 20px;
    padding: 5px;
    width: 280px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    position: relative;
}
.one_course:hover {
    box-shadow: 0px 0px 8px #999;
}
.one_course:hover .glyphicon {
    display: block;
}
.one_course>img {
    width: 270px;
    height: 182px;
}
.one_course .glyphicon {
    display: none;
    position: absolute !important;
    top: -5px;
    right: -5px;
    color: red;
    cursor:pointer;
}
.course_progress {
    margin-top: 10px;
}
.course_progress>span {
    font-size: 12px;
    color: #999999;
}
.course_name {
    margin: 10px;
    text-align: center;
    font-size: 16px;
}
.progress {
    margin: 0;
    height: 10px;
}