
/* 中间模块 */
.personal_discuss_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.discuss_content {
    margin-top: 60px;
    width: 1200px;
}
.discuss_content_card {
    margin-bottom: 40px;
    /*border-bottom: 1px solid #81d283;*/
}
.discuss_content_card_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 左边 */
.discuss_content_card_left {
    width: 298px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.discuss_content_card_left>img {
    width: 298px;
    height: 200px;
}
.card_left_text {
    margin-top: 10px;
}
.school_icon {
    width: 20px;
    height: 20px;
}
.discuss_course_name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.discuss_school_name {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 右边 */
.discuss_content_card_right {
    width: 864px;
}
.communication_subject {
    font-size: 18px;
}
.one_discuss {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #81d283;
}
.my_discuss {
    margin: 20px 0 0 20px;
    font-size: 16px;
}














