<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>班级 </title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../package/bootstrapvalidator-master/dist/css/bootstrapValidator.min.css">
    <!--  导航栏的基本样式保证  -->
    <!-- <link rel="stylesheet" href="../css/teacherinterspace.css"> -->
    <!-- 提示框样式 -->
    <link href="../lib/toastr/toastr.min.css" type="text/css" rel="stylesheet">
    <!--  对话框样式  -->
    <link href="../lib/confirm/jquery-confirm.min.css" type="text/css" rel="stylesheet">
    <!--  左边栏样式保证  -->
    <!-- <link rel="stylesheet" href="../css/teacher_css/teacher_team.css"> -->
    <link rel="stylesheet" href="../css/add_class.css">
</head>

<body>
<div class="maincontent">
    <!-- 头部导航栏开始 -->
    <div class="header">
        <div class="banxin">
            <img src="../img/未标题-10.png" class="logo" alt="">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="">课程</a></li>
                <li><a href="">院校</a></li>
                <li><a href="">立体教材</a></li>
            </ul>
            <div class="search">
                <img class="searchicon" src="../img/未标题-1.png" ></img>
                <input type="text" placeholder="搜索课程或学校">
            </div>
            <div class="login">
                <a href="">
                    <img class="loginicon" src="../img/未标题-2.png"></img>
                </a>
                <!-- 这里的模态框用js实现 -->
                <div class="register" data-toggle="modal" data-target="#myModal">注册</div>
                <!-- 要显示新模态框，修改data-target中的ID就可以了 -->
                <div class="log" data-toggle="modal" data-target="#myModal1">登录</div>
            </div>
        </div>
    </div>
    <!-- 头部导航栏结束 -->
    <!--  中间内容开始  -->
    <div class="tt_content">
        <!--  左边内容  -->
        <div class="tt_content_left">
            <img src="../images/kecheng1.png">
            <div class="tt_content_leftmenu">
                <a href="" class="introduction_href">课程简介</a>
                <a class="teacher_href" href="">教师团队</a>
                <a class="" href="" >课程资源</a>
                <a class="catalog_href" href="">课程目录</a>
                <a class="announcement_href" href="">系统公告</a>
                <a class="criteria_href" href="">评分表准</a>
                <a class="test_href" href="">测验/考试</a>
                <a class="course_discussion" href="">讨论区</a>
                <a class="course_class active" href="">班级</a>
                <a class="course_student" href="">学生</a>
                <a class="course_sum" href="">课程统计</a>
                <a class="course_study_sum" href="">学习统计</a>
            </div>
        </div>
        <!--  右边内容  -->
        <div class="tt_content_right">
            <div class="tt_content_right_title">
                班级
            </div>
            <!--  主要内容  -->
            <div class="tt_team">
                <!-- <div class="eachclass">
                    <input type="text" class="each">
                    <button type="button" class="btn btn-link">编辑</button>
                    <button type="button" class="btn btn-link">删除</button>
                </div>

                <div class="eachclass">
                    <input type="text" class="each">
                    <button type="button" class="btn btn-link">编辑</button>
                    <button type="button" class="btn btn-link">删除</button>
                </div> -->
             
            </div>
            <!--  主要内容完成  -->
            <div class="add_teacher_btn">
                <button onclick="new_detail()">添加班级</button>
            </div>
        </div>
    </div>
    <!--  中间内容结束  -->
    <!-- 底部开始 -->
    <div class="footercontenter">
        <div class="footer">
            <div class="banxin footerbanxin">
                <div class="footercenter">
                    沪公网备案  *****号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COPYRIGHT © 2008-2012 兰鸿科技
                </div>
            </div>
        </div>
    </div>
    <!-- 底部结束 -->
</div>
<!-- 注册模态框开始 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="registertitle">
                用户注册
            </div>
            <form id="registerform" name="register"  class="registerform" action="">
                <div class="form-group">

                    <input  name="telephoneemail" placeholder="输入邮箱或手机号" class="telephone" type="text">
                </div>
                <div class="form-group">

                    <input name="username" placeholder="请输入用户名" class="username" type="text">
                </div>
                <div class="form-group">

                    <input id="password" name="password" placeholder="输入密码" class="password" type="password">
                </div>
                <!-- <div class="nameexist">该用户名已存在</div> -->
                <div class="registerbutton">立即注册</div>
                <div class="elseregister">
                    <span>其它登录方式</span>
                    <a href=""><img src="../img/qq.png" alt=""></a>
                    <a href=""><img src="../img/weixin.png" alt=""></a>
                    <a href=""><img  src="../img/xinlang.png" alt=""></a>
                    <div class="nameexist">该用户名已存在</div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 注册模态框结束 -->
<!-- 登录模态框开始 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="registertitle">
                用户登录
            </div>
            <form class="registerform loginform" id="loginform" action="">
                <div class="form-group">
                    <input  placeholder="输入用户名" name="username" class="telephone" type="text">
                </div>
                <div class="form-group">
                    <input placeholder="输入密码" name="password" class="username" type="password">
                </div>

                <div class="codefather clearfix">
                    <input  placeholder="输入验证码" name="code" class="code" type="text">
                    <img src="../img/code.png" class="codeimg"></img>
                    <div class="check">换一张</div>
                    <div class="codeerr uperr">
                        ⓧ 用户名或密码错误
                    </div>
                    <div class="codeerr cerr">
                        ⓧ 验证码错误
                    </div>
                </div>

                <div class="loginbutton">立即登录</div>
                <div class="else">

                    <div class="linkregister">注册</div>
                    <div class="forget">忘记密码</div>
                    <span>其它登录方式</span>


                    <a href=""><img src="../img/qq.png" alt=""></a>
                    <a href=""> <img src="../img/weixin.png" alt=""></a>
                    <a href=""><img  src="../img/xinlang.png" alt=""></a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 登录模态框结束 -->
<!-- 编辑模态框 -->
<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%; height: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">详情/编辑</h4>
            </div>
            <form class="form-horizontal adminex-form" id="detail_form" action="javascript: update_teacher()" >
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 control-label">ID</label>
                        <div class="col-sm-6">
                            <input class="form-control id" name="id" type="text" placeholder="id" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 control-label">姓名</label>
                        <div class="col-sm-6">
                            <input class="form-control username" name="username" type="text" placeholder="请输入姓名" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 control-label">课程职位</label>
                        <div class="col-sm-6">
                            <input class="form-control job" name="job" type="text" placeholder="请输入课程职位" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 control-label">头像</label>
                        <div class="col-sm-6">
                            <img class="avatar" src="../img/teach.png" />
<!--                            <input class="uploadAvatar" name="uploadAvatar" type="file" accept=".jpeg,.jpg,.png" value="选择头像" />-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 control-label">简介</label>
                        <div class="col-sm-6">
                            <input class="form-control introduction" name="introduction" type="text" placeholder="请输入简介信息" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="submit" class="btn btn-primary" value="保存" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 新增模态框 -->
<div class="modal fade" id="new_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%; height: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增班级</h4>
            </div>
            <form class="form-horizontal adminex-form" id="new_form" action="javascript: add_teacher()" >
                <div class="modal-body">
   

                    
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 control-label">班级名称</label>
                        <div class="col-sm-6">
                            <input class="form-control addclassname"  type="text" placeholder="请输入班级名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-1 control-label">班级负责人</label>
                        <div class="col-sm-6">
                            <input class="form-control addclassteacher"  type="text" placeholder="请输入班级负责人" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="submit" class="btn btn-primary saveclass" value="保存" />
                </div>
            </form>

        </div>
    </div>
</div>
<!-- loading Modal start-->
<div class="modal fade" id="loadingModal" data-backdrop="static">
    <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
        <div class="progress progress-striped active" style="margin-bottom: 0;">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <h5 style="color: white; font-weight: bold">努力加载中...</h5>
    </div>
</div>
</body>
<script type="text/html" id="teacheruser">
    <div class="headline">
        基本资料
    </div>
    <div class="nickname">
        <input name="nickname" placeholder="<%= person[0].name %> " type="text">
    </div>
    <div class="time">
        <input name="time" placeholder="<%= person[0].data %> " size="16" type="text"  readonly class="form_datetime">
    </div>
    <div class="sex">
        性别：
        <select name="sex" id="">
           <% if(person[0].sex=="1"){ %>
                <option selected value="1">男</option>
                <option value="2">女</option>
                <option value="3">其它</option>
                <% }else if(person[0].sex=="女"){ %>
                <option value="1">男</option>
                <option selected value="2">女</option>
                <option value="3">其它</option>
                <% }else{ %>
                <option value="1">男</option>
                <option value="2">女</option>
                <option selected value="3">其它</option>
            <% } %> 
        </select>
    </div>
    <textarea  class="signature" name="text" id="" ><%= person[0].text %></textarea>
</script>
<script src="../node_modules/echarts/dist/echarts.common.js" ></script>
<script src="../node_modules/jquery/dist/jquery.min.js" ></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../package/bootstrapvalidator-master/dist/js/bootstrapValidator.min.js" ></script>
<script src="../js/public.js" ></script>
<script src="../package/jquerypage.js" ></script>
<!-- 提示框插件 -->
<script src="../lib/toastr/toastr.min.js"></script>
<!-- 对话框样式 -->
<script src="../lib/confirm/jquery-confirm.min.js"></script>
<!--<script src="../js/teacher_team.js" ></script>-->
<script type="text/javascript">
    $(function(){
        // 模态框居中
        modalCenter('#myModal')
        modalCenter('#myModal1')
        modalCenter('#new_modal')
        
        $(".tcdPageCode").createPage({
            pageCount:20,
            current:1,
            backFn:function(p){
                console.log(p);
            }
        });
        // select_teacher()

        // 获取班级中的数据
        $.ajax({
            type:"get",
            url: HTTP_URL + "Learn/setclass",
            dataType:"json",
            data: {cid:1},
            success:function(data){
                // console.log("班级数据",data);
                if(0 == data.length){
                    return;
                }
                var str=""

                for(i=0;i<data.length;i++){
                    str += ' <div class="eachclass"> \n' +             
                        '<div class="each" > '+ data[i].name +' </div> \n'+
                        '<button type="button" class="btn btn-link" onclick=update_teacher(' + JSON.stringify(data[i]).replace(/"/g, "&quot;") + ')  >编辑</button> \n'+
                        '<button type="button" class="btn btn-link" onclick=delete_teacher(' + data[i].id + ') >删除</button> \n'+
                    '</div> \n'


                    
                }
                // console.log(str);
                
                $(".tt_team").html(str);
                // for(i=0;i<data.length;i++){
                //     $(".tt_team").children().eq(i).children("input").val(data[i].name)
                // }
                // console.log($(".tt_team").children().eq(1).children("input").val("123"));
                
                //刷新页面的js
                // history.go(0)

            },
            error:function(jqXHR){
                console.log("发生错误:"+jqXHR.status);
            }
        });
        $(".saveclass").on("click",function(){

            var name = $(".addclassname").val() 
            var teacher = $(".addclassteacher").val() 
            if(name == "" && teacher == ""){
                // console.log("添加的班级名和教师名都为空");
                $("#new_modal").modal("hide")
                return
            }else if(name == ""){
                // console.log("添加的班级名为空");
                $("#new_modal").modal("hide")
                return
            }
            
            $.ajax({
            type:"post",
            url: "http://192.168.1.110/lanhong/index.php/Admin/Learn/class_l",
            dataType:"json",
            data: {cid: 1,name: name ,teacher: teacher },
            success:function(data){
                // console.log("班级数据",data);
                if(0 == data.length){
                    return;
                }
                
               
                $("#loadingModal").modal("hide")
                $("#new_modal").modal("hide")
                 //刷新页面的js
                history.go(0)
            },
            error:function(jqXHR){
                console.log("发生错误:"+jqXHR.status);
            }
        });

            
        })

    })



    //删除班级
    function delete_teacher(id) {
        
       
        
        // 提示用户要不要删除
        confirmBySelf("确认删除吗？", function () {
            // 用户点击确认时
            delete_teacher_ajax(id)
        },"提示")
    }

    // 修改班级
    function update_teacher(data) {
        // console.log( a);
        // console.log(data.name);
        // console.log(data.id);
        
        // 提示用户要不要修改
        confirmBySelf('<input class="updateclass" placeholder="新课程名称" type="text"> <input class="updateteacher" placeholder="新教师名称" type="text">', function () {
            // 用户点击确认时

            update_teacher_ajax(data)
        },"编辑内容")

        // 新的班级名称
        $(".updateclass").val(data.name)
        //新的老师名称
         $(".updateteacher").val(data.teacher)
    }

    //  删除的请求
    function delete_teacher_ajax(id){
        $("#loadingModal").modal("show")
        var UpdateTeacherAjax = $.ajax({
            url: HTTP_URL + "Learn/declass",
            type: "post",
            data: {
                id: id
            },
            dataType: "json",
            success: function (data) {
                toastr.success("操作成功！")
                // select_teacher()
                history.go(0)
            },
            error: function (e) {
                console.log(e)
            },
            complete: function (xhr, status) {
                // 隐藏loading
                $("#loadingModal").modal("hide")
            }
        })
    }
    //  修改班级的请求
    function update_teacher_ajax(data){
        // 新的班级名称
        var upvalue = $(".updateclass").val()
        //新的老师名称
        var upvaluet = $(".updateteacher").val()

        if(upvalue == "" && upvaluet == ""){
            // console.log("名字为空");
            
            return
        }else if(upvalue == data.name && upvaluet ==  data.teacher){
            // console.log("名字与原来相同");
            return 
        }
       
        $("#loadingModal").modal("show")

        var UpdateTeacherAjax = $.ajax({
            url: HTTP_URL + "Learn/upclass",
            type: "post",
            data: {
                id: data.id,
                name: upvalue,
                teacher: upvaluet
            },
            dataType: "json",
            success: function (data) {
                console.log(data);
                
                toastr.success("操作成功！")
                // select_teacher()
                history.go(0)
            },
            error: function (e) {
                console.log(e)
            },
            complete: function (xhr, status) {
                // 隐藏loading
                $("#loadingModal").modal("hide")
            }
        })



    }

    // //新增教师
    function new_detail() {
        $("#new_modal").modal("show")
    }

    function confirmBySelf(content, func,tit) {
        $.confirm({
            confirmButtonClass: "btn-primary",   //设置ok按钮样式
            closeIcon: true,        //对话框右上角关闭
            confirmButton: "确认", //确认按钮标题
            cancelButton: "取消", //取消按钮标题
            title: tit,        //标题
            content: content,        //对话内容
            confirm: function () {
                //点击确认后做什么
                func()
            },
            cancel:function () {
                //点击取消后做什么
            }
        })
    }
</script>
</html>