<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统公告</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../package/bootstrapvalidator-master/dist/css/bootstrapValidator.min.css">
    <!-- <link rel="stylesheet" href="../css/coursehomepage.css"> -->
    <!-- <link rel="stylesheet" href="../css/announcement.css"> -->
    <link rel="stylesheet" href="../css/teacherinterspace.css">
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../package/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
</head>
<body>
    <div class="maincontent">
    <!-- 头部导航栏开始 -->
    <div class="header">
        <div class="banxin">
            <img src="../img/未标题-10.png" class="logo" alt="">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="">课程</a></li>
                <li><a href="">院校</a></li>
                <li><a href="">立体教材</a></li>
            </ul>
            <div class="search">
                <img class="searchicon" src="../img/未标题-1.png" >
                <input type="text" placeholder="搜索课程或学校">
            </div>
            <div class="login">
                <a href="">
                    <img class="loginicon" src="../img/未标题-2.png">
                </a>
                <!-- 这里的模态框用js实现 -->
                <div class="register" data-toggle="modal" data-target="#myModal">注册</div>
                <!-- 要显示新模态框，修改data-target中的ID就可以了 -->
                <div class="log" data-toggle="modal" data-target="#myModal1">登录</div>
            </div>
        </div>
    </div>
    <!-- 头部导航栏结束 -->
        <div class="mainpartportion">
            <div class="teacherheader">
                <img class="backgroundimg" src="../img/interspace.png" alt="">
                <div class="lucency"></div>
                <div class="tintroduce">
                    <!-- <img class="fl" src="../img/teach.png" alt="">
                    <div class="fl teacherna" >
                        <div>张三</div>
                        <div>欢迎您来到教师空间!</div>
                    </div> -->
                </div>
            </div>
            <div class="banxin mycourse clearfix">
                    <div class="rightresult ">
                        <div class="righttitle clearfix">
                            <a class="studybutton fl">我的课程</a>
                            <a class="scoresbutton fl">个人设置</a>
                        </div>
                        <div class="rightcontent">
                            <div class="schedule clearfix">
                                <a data-toggle="modal"  data-target="#myModal2" class="courseicon">
                                    <div class="add">+</div>
                                    <div class="addtext">添加课程</div>
                                </a>
                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>
                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>
                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>
                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>
                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>

                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>
                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>
                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>

                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>
                                <a href="" class="courseimg">
                                    <img class="courseshow" src="../img/未标题-7.png" alt="">
                                    <div class="imgtext">
                                        涂装工艺
                                    </div>
                                </a>
                            </div>
                            
                            <div class="scoreranking">

                                <form action="">
                                    <div class="headimg clearfix">
                                        <img  src="../img/未标题-10.png" id="preview" class="headicon fl">
                                        <div class="imgtitle ">
                                            <input name="logo" type="file" id="filebtn" class="filebtn">
                                        </div>  
                                        <div class="fl ">
                                            <div id="imgsubmit">保存头像</div> 
                                        </div>
                                    </div>    
                                </form>

                                <form id="teacher" class="teacheruser" action="">

                                    <div class="headline">
                                        基本资料
                                    </div>
                                    <div class="nickname">
                                        <input name="nickname" placeholder="设置昵称" type="text">
                                    </div>
                                    <div class="time">
                                        <input name="time" placeholder="设置出生日期" size="16" type="text"  readonly class="form_datetime">
                                    </div>
                                    <div class="sex">
                                        性别：
                                        <select name="sex" id="">
                                            <option value="">男</option>
                                            <option value="">女</option>
                                            <option value="">其它</option>
                                        </select>
                                    </div>
                                    <textarea  class="signature" name="text" id="" >设置个性签名</textarea>
                                    
                                </form>
                                <!-- 按钮不能放到form表单里，否则不会触发单击事件。 -->
                                <div class="confirm">确定</div>
                            </div>    
                        </div>
                    </div>
            </div>
        </div>
    </div>   
       
    <!-- 底部开始 -->
    <div class="footercontenter">
        <div class="footer">
            <div class="banxin footerbanxin">
                <div class="footercenter">
                    沪公网备案  *****号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COPYRIGHT © 2008-2012 兰鸿科技
                </div>
            </div>
        </div>
    </div>
    <!-- 底部结束 -->
    <!-- 编辑模态框 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 100%; height: auto">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">课程基本设置</h4>
                </div>
                <form class="form-horizontal adminex-form" id="new_form" action="javascript: add_teacher()" >
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">课程名称</label>
                            <div class="col-sm-6">
                                <input class="form-control coursename" name="id" type="text" placeholder=""  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4  control-label">所属学校/单位</label>
                            <div class="col-sm-6">
                                <!-- <input class="form-control schoolname" name="username" type="text" placeholder="" /> -->
                                <select name="username" class="form-control schoolname" id="">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4  control-label">所属专业大类</label>
                            <div class="col-sm-6">
                                <!-- <input class="form-control job" name="job" type="text" placeholder="" /> -->
                                <select class="form-control professional" name="" id="">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4  control-label">课程开始时间</label>
                            <div class="col-sm-6">
                                <input   readonly class="timeopen form-control"  type="text" placeholder=""  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4  control-label">课程结束时间</label>
                            <div class="col-sm-6">
                                <input  readonly class=" timeend form-control"   type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4  control-label">课程简介</label>
                            <div class="col-sm-6">
                                <!-- <input class="form-control timeend" name="username" type="text" placeholder="" /> -->
                                <textarea  class="form-control briefintroduction" name="" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <input type="submit" class="btn btn-primary savesettings" value="保存" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- loading Modal start-->
        <!-- 注册模态框开始 -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="registertitle">
                        用户注册
                  </div>
                  <form id="registerform" name="register"  class="registerform" action="">
                      <div class="form-group">
                           
                            <input  name="telephoneemail" placeholder="输入邮箱或手机号" class="telephone" type="text">
                      </div>
                      <div class="form-group">
                            
                            <input name="username" placeholder="输入用户名" class="username" type="text">
                      </div>
                      <div class="form-group">
                
                            <input id="password" name="password" placeholder="输入密码" class="password" type="password">
                      </div>
                      <!-- <div class="nameexist">该用户名已存在</div> -->
                      <div class="registerbutton">立即注册</div>
                      <div class="elseregister">
                        <span>其它登录方式</span>  
                          <a href=""><img src="../img/qq.png" alt=""></a>
                          <a href=""><img src="../img/weixin.png" alt=""></a>
                          <a href=""><img  src="../img/xinlang.png" alt=""></a>
                          <div class="nameexist">该用户名已存在</div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        <!-- 注册模态框结束 -->
        <!-- 登录模态框开始 -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="registertitle">
                                用户登录
                          </div>
                          <form class="registerform loginform" id="loginform" action="">
                              <div class="form-group">
                              <input  placeholder="输入用户名" name="username" class="telephone" type="text">
                              </div>
                              <div class="form-group">
                                    <input placeholder="输入密码" name="password" class="username" type="password">
                              </div>
    
                              <div class="codefather clearfix">
                                    <input  placeholder="输入验证码" name="code" class="code" type="text">
                                    <img src="../img/code.png" class="codeimg">
                                    <div class="check">换一张</div>
                                    <div class="codeerr uperr">
                                        ⓧ 用户名或密码错误
                                    </div>
                                    <div class="codeerr cerr">
                                        ⓧ 验证码错误
                                    </div>
                              </div>
    
                              <div class="loginbutton">立即登录</div>
                              <div class="else">
    
                                <div class="linkregister">注册</div>
                                <div class="forget">忘记密码</div>
                                <span>其它登录方式</span>  
            
                                  
                                 <a href=""><img src="../img/qq.png" alt=""></a>
                                 <a href=""> <img src="../img/weixin.png" alt=""></a>
                                 <a href=""><img  src="../img/xinlang.png" alt=""></a>   
                              </div>
                          </form>
                </div>
            </div>
        </div>
        <!-- 登录模态框结束 -->


        <!-- -->
        <!-- <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modalcenter">
                    <div class="registertitle">
                        课程基本设置
                    </div>
                    <form class="curriculumprovision" action="">
                        <div class="curriculumname clearfix">
                           课程名称<input type="text">
                        </div>
                        <div class="curriculumschool clearfix">
                            所属学校/单位 <input type="text">
                        </div>
                        <div class="curriculumclass clearfix">
                            所属专业大类  
                            <select name="" id="">
                                <option value="">
                                    123434
                                </option>
                                <option value="">
                                    5768
                                </option>
                            </select>
                        </div>

                    </form>    
                    <div class="save">
                        保存
                    </div>

                </div>
            </div>
        </div> -->
        <!--  -->
</body>
<script type="text/html" id="tintroduce" >
    <img class="fl" src="<%= imgsrc==undefined?'':imgsrc %><%= person[0].logo==undefined?'':person[0].logo %> " alt="">
    <div class="fl teacherna" >
        <div><%= person[0].name==undefined?'':person[0].name %></div>
        <div>欢迎您来到教师空间! <%= person.logo %> </div>
    </div>
</script>
<script type="text/html" id="schedule" >
        <a data-toggle="modal"  data-target="#myModal2" class="courseicon">
            <div class="add">+</div>
            <div class="addtext">添加课程</div>
        </a>
        <% for(var i=0; i< person.length; i++){ %>
            <a href="./course_introduction.html?cid=<%= person[i].id %>" class="courseimg">
                <img class="courseshow" src="../img/ <%= person[i].logo==undefined?'':person[i].logo %> " alt="" />
                <div class="imgtext">
                    <%= person[i].name==undefined?'':person[i].name %>
                </div>
            </a>
        <%}%>
</script>
<script type="text/html" id="teacheruser">
    <div class="headline">
        基本资料
    </div>
    <div class="nickname">
        <input name="nickname" placeholder="<%= person[0].name %> " type="text">
    </div>
    <div class="time">
        <input name="time" placeholder="<%= person[0].data %> " size="16" type="text"  readonly class="form_datetime">
    </div>
    <div class="sex">
        性别：
        <select name="sex" id="">
           <% if(person[0].sex=="1"){ %>
                <option selected value="1">男</option>
                <option value="2">女</option>
                <option value="3">其它</option>
                <% }else if(person[0].sex=="女"){ %>
                <option value="1">男</option>
                <option selected value="2">女</option>
                <option value="3">其它</option>
                <% }else{ %>
                <option value="1">男</option>
                <option value="2">女</option>
                <option selected value="3">其它</option>
            <% } %> 
        </select>
    </div>
    <textarea  class="signature" name="text" id="" ><%= person[0].text %></textarea>
</script>
<!-- 课程分类模板开始 -->
<script type="text/html" id="professional">
    <% for(var i=0; i< person.length; i++){ %>
        <option value="<%= person[i].name == undefined ? '' : person[i].name %>"> <%= person[i].name == undefined ? '' :  person[i].name %> </option>
    <%  } %>
</script>
<!-- 课程分类模板结束 -->

<!-- <script src="../node_modules/echarts/dist/echarts.common.js" ></script> -->
<script src="../node_modules/jquery/dist/jquery.min.js" ></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="../node_modules/art-template/lib/template-web.js" ></script>
<script src="../package/bootstrapvalidator-master/dist/js/bootstrapValidator.min.js" ></script>
<script src="../package/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<script src="../js/public.js" ></script>
<!-- <script src="../package/jquerypage.js" ></script> -->
<script type="text/javascript">
$(function(){
    // 保存图片地址的变量
    var imgsrc = "http://192.168.1.126/lanhong/Public/img/";
    // 保存头像图片名称的变量。
    var imgname;

    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});

    // 模态框居中
    modalCenter('#myModal')
    modalCenter('#myModal1')
    modalCenter('#myModal2')
    // 当添加课程的时候
    // lang
    // schoolname
    var schoolstr;
    for(var i =0;i<schoolname.length;i++){
        schoolstr+= `<option value="${ schoolname[i].name == undefined ? '' : schoolname[i].name }"> ${ schoolname[i].name == undefined ? '' : schoolname[i].name } </option>`
    }
    $(".schoolname").html(schoolstr)

    // 原生ajax发送头像信息开始
    var xhr;
    function createXMLHttpRequest() {
        if (window.ActiveXObject) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        } else if (window.XMLHttpRequest) {
            xhr = new XMLHttpRequest();
        }
    }
    function UpladFile() {
        var fileObj = document.getElementById("filebtn").files[0];
        // console.log(fileObj);
        
        var FileController = HTTP_URL + "Index/changelogo";
        var form = new FormData();
        form.append("myfile", fileObj);

        createXMLHttpRequest();
        xhr.onreadystatechange = handleStateChange;
        xhr.open("post", FileController, true);
        xhr.send(form);
    }
    function handleStateChange() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200 || xhr.status == 0) {
                history.go(0)
                // var result = xhr.responseText;
                // var json = eval("(" + result + ")");

                // alert('图片链接:\n' + json.file);
            }
        }
    }

// 原生ajax发送头像信息结束
    // $(".tcdPageCode").createPage({ 
    // pageCount:20, 
    // current:1, 
    // backFn:function(p){ 
    // console.log(p); 
    // } 
    // }); 
    //预览图片的函数，传入选中file按钮标签还有要展示的img标签
    function imgPreview(fileDom,lookid){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        // console.log(file);
        
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById(lookid);
            //图片路径设置为读取的图片
            img.src = e.target.result;
            
        };
        reader.readAsDataURL(file);
    }
    var fileObj

    $(".filebtn").on("change",function(){
        //  preview是id
        imgPreview(this,"preview")
       fileObj = document.getElementById("filebtn").files[0];
        // console.log(fileObj);
        
        // console.log(this.value);
    })

    $("#imgsubmit").on("click",function(){
        UpladFile()
        // $.ajax({
        //     type:"post",
        //     url: "http://192.168.1.110/lanhong/index.php/Admin/Index/one",
        //     dataType:"json",
        //     data: {myfile: fileObj},
        //     // crossDomain: true,//是否跨域:是
        //     // jsonp: "jsonpcallback",
        //     success:function(data){
        //         console.log("",data);
        //         // var result = data;
        //         // var html = template("teacheruser",{person: data});
        //         // $(".teacheruser").html(html);
        //         // $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
                
        //         // // 将昵称还有出生日期赋值到输入框中
        //         // $(".nickname input").val(data[0].name);
        //         // $(".time input").val(data[0].data);
                
        //     },
        //     error:function(jqXHR){
        //         console.log("发生错误:"+jqXHR.status);
        //     }
        // });  

    })

    $(".confirm").on("click",function(){
        // console.log(7777);
        
        var str =  $("#teacher").serialize()
        console.log(str);
        var data =  $(".time input").val();
        var name = $(".nickname input").val();
        var sex = $(".sex select").val();
        var text = $(".signature ").val();
        // console.log(data,name,sex,text);
        // console.log({data:data,name:name,sex:sex,text:text,sid:1});
        
        $.ajax({
            type:"post",
            url: HTTP_URL + "Index/change",
            dataType:"json",
            data: {data:data,name:name,sex:sex,text:text,sid:1},
            // crossDomain: true,//是否跨域:是
            // jsonp: "jsonpcallback",
            success:function(data){
                // console.log("单击确认后",data);
                //刷新页面的js
                history.go(0)
            },
            error:function(jqXHR){
                // console.log("发生错误:"+jqXHR.status);
            }
        });
        // 单击按钮
        $(".headimg input[type='submit']").click();
    })

     
    $(".headimg input[type='submit']").on("click",function(){
        // console.log(5555555555555555);
        
    })





    // 我的课程
    $('.scoresbutton').on("click",function(){
        $(".scoreranking").css({"display":"block"})
        $(".schedule").css({"display":"none"})
        // 改变按钮颜色
        $(this).css({"background-color":"#33b150"})
        $('.studybutton').css({"background-color":"#81d282"})

        //修改头像的地址。
        $(".headicon").attr("src",imgsrc+imgname);

        $.ajax({
            type:"GET",
            url: HTTP_URL + "Index/setchange",
            dataType:"json",
            data: {sid: 1},
            // crossDomain: true,//是否跨域:是
            // jsonp: "jsonpcallback",
            success:function(data){
                // console.log("提交的教师信息",data);
                // var result = data;
                var html = template("teacheruser",{person: data});
                $(".teacheruser").html(html);
                $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
                
                // 将昵称还有出生日期赋值到输入框中
                $(".nickname input").val(data[0].name);
                $(".time input").val(data[0].data);
                
            },
            error:function(jqXHR){
                console.log("发生错误:"+jqXHR.status);
            }
        });  

    })



        // 单击课程简介
    $('.studybutton').on("click",function(){
        $(".schedule").css({"display":"block"})
        $(".scoreranking").css({"display":"none"})
        // 改变按钮颜色
        $(this).css({"background-color":"#33b150"})
        $('.scoresbutton').css({"background-color":"#81d282"})
    })

    // 教师名字和logo
    $.ajax({
        type:"GET",
        url: HTTP_URL + "Index/setchange",
        dataType:"json",
        data: {sid: 1},
        // jsonp: "jsonpcallback",
        success:function(data){
            // console.log("当前教师",data);
            imgname = data[0].logo;
            var htmlx = template("tintroduce",{person: data,imgsrc: imgsrc});
            $(".tintroduce").html(htmlx);
            
            
        },
        error:function(jqXHR){
            console.log("发生错误:"+jqXHR.status);
        }
    });  

    //课程名称和课程图片
    $.ajax({
        type:"GET",
        url: HTTP_URL + "Index/index",
        dataType:"json",
        data: {sid: 1},
        // crossDomain: true,//是否跨域:是
        // jsonp: "jsonpcallback",
        success:function(data){
            // console.log("当前教师的课程",data);
            // var result = data;
            var html = template("schedule",{person: data});
            $(".schedule").html(html);

            // 由于这个按钮是重新渲染的，所以按照重新渲染之后再绑定事件
            $(".courseicon").on("click",function(){
                // console.log(333333333333333);
                $.ajax({
                    type:"get",
                    url: HTTP_URL + "Index/lang",
                    dataType:"json",
                
                    // crossDomain: true,//是否跨域:是
                    // jsonp: "jsonpcallback",
                    success:function(data){
                        // console.log("课程大类",data);
                        var htm = template("professional",{person: data});
                        $(".professional").html(htm);
                    },
                    error:function(jqXHR){
                        console.log("发生错误:"+jqXHR.status);
                    }
                });  
            })
            // 开始时间和结束时间的日历
            $(".timeopen").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
            $(".timeend").datetimepicker({format: 'yyyy-mm-dd hh:ii'});


        },
        error:function(jqXHR){
            console.log("发生错误:"+jqXHR.status);
        }
    });  



    $(".savesettings").on("click",function(){
        var Name = $(".coursename").val()
         var School = $(".schoolname").val() 
         var Belong =  $(".professional").val()
         var Starttime = $(".timeopen").val()
         var Endtime = $(".timeend").val() 
         var Text =  $(".briefintroduction").val() 

         //刷新页面的js
         history.go(0)

        $.ajax({
            type:"post",
            url: HTTP_URL + "Index/course",
            dataType:"json",
            data:{name:Name,school:School,belong:Belong,starttime:Starttime,endtime:Endtime,text:Text},
            success:function(data){
                // console.log(data);
                // 清空添加课程的输入框。
                $(".coursename").val("")
                $(".schoolname").val("") 
                $(".professional").val("")
                $(".timeopen").val("")
                $(".timeend").val("") 
                $(".briefintroduction").val("") 
                // 隐藏模态框
                $("#myModal2").modal("hide")
            },
            error:function(jqXHR){
                console.log("发生错误:"+jqXHR.status);
            }
        });  


    })
    function formajax(){

    }
    
})

</script>
</html>