.test_content {
    margin-top: 50px;
}
.a_class {
    color: #31b24e;
}
.a_class:hover {
    text-decoration: none;
}
/* 班级样式 */
.all_class {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.one_class {
    margin: 20px 30px;
    padding: 10px 20px;
    color: #31b24e;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-decoration: none;
}
.one_class:hover {
    text-decoration: none;
    color: white;
    background-color: #81d283;
}
/* 学生样式 */
.all_student {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
}
.one_student {
    margin: 10px 15px;
    padding: 10px 20px;
    width: 120px;
    color: #31b24e;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.one_student:hover {
    text-decoration: none;
    color: white;
    background-color: #81d283;
}

/* 文档预览样式 */
.textcontent {
    /*border: 1px solid #ccc;*/
    width: 900px;
    min-height: 500px;
    display: none;
}
.textcontent iframe {
    width: 900px !important;
    height: 645px;
    border: 1px solid #CCCCCC;
    /*border-radius: 5px;*/
    box-shadow: 0px 0px 5px #CCCCCC;
}
.report_title_text {
    margin: 20px 0px;
    font-size: 18px;
}
/* 评分输入框 */
.input_score {
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}
.report_title_text2 {
    margin: 50px 0 0;
    font-size: 18px;
}
.report_title_text3 {
    margin: 20px 0;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.comment_input {
    padding: 10px;
    width: 500px;
    height: 200px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    font-size: 14px;
}
.sub_btn button {
    margin-left: 450px;
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #81d283;
}
.sub_btn button:hover {
    background-color: #31b24e;
}





