
.score_criteria {
    margin-top: 40px;
    padding: 20px 20px 40px;
    border: 1px solid #81d283;
    border-radius: 20px;
}
/* 系统公告的内容 */
.announcement_content {
    margin-top: 10px;
}
/* 系统公告的一块内容 */
.announcement_information {
    margin-bottom: 10px;
    padding: 30px;
    height: 200px;
    border: 1px solid #81d283;
    border-radius: 20px;
}
.announcement_btn{
    float: right;
    position: relative;
    top: -10px;
}
.announcement_btn button {
    padding: 5px;
    font-size: 18px;
    color: #81d283;
    background: none;
    border: none;
}
.announcement_btn span {
    color: #81d283;
}
.announcement_text p {
    font-size: 18px;
}
.announcement_text .announcement_text_content {
    font-size: 16px;
    font-weight: normal;
}
/* 满分框 */
.criteria_title .input-group {
    display: flex;
}
.criteria_title .input-group .form-control {
    width: 60px;
}
.criteria_title .input-group .input-group-btn .btn-default {
    width: auto;
    padding: 6px 2px;
    font-size: 14px;
    color: #81d283;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}
/* 百分比 */
.accounted {
    margin: 0 20px;
}
/* 添加按钮 */
.add_criteria_btn {
    /*margin-top: 20px;*/
    padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.criteria_title {
    font-size: 20px;
    /*font-weight: bold;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.add_criteria_btn button {
    padding: 10px;
    width: 150px;
    font-size: 18px;
    color: white;
    background-color: #81d283;
    border: none;
    border-radius: 10px;
}
.add_criteria_btn button:hover {
    background-color: #579c59;
}
/* 模态框 */
.modal-content {
    width: 500px;
    min-height: auto;
    font-size: 20px;
    background-color: #f2f2f2;
    margin: 0 auto;
}
/* 分页器 */
.page_area {
    text-align: center;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #81d283;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    color: #81d283;
}
.pagination>li>a, .pagination>li>span {
    padding: 10px 20px;
    font-size: 16px;
}