.founder_information {
    margin-top: 70px;
    padding: 20px;
    /*border: 1px solid #81d283;*/
    border-radius: 20px;
    background-color: #b2dfb3;
    font-size: 18px;
}
.reply_content {
    margin-top: 40px;
}
.reply_text {
    width: 100%;
    height: 150px;
    padding: 20px;
    border: 1px solid #81d283;
    border-radius: 20px;
    font-size: 16px;
}
.reply_btn {
    margin-top: 20px;
    text-align: right;
}
.reply_btn button {
    padding: 5px 20px;
    font-size: 18px;
    color: white;
    background-color: #81d283;
    border: none;
    border-radius: 10px;
}
.reply_btn button:hover {
    background-color: #33b150;
}
.other_reply_area {
    margin-top: 40px;
}
.reply_choose_order {
    font-size: 14px;
    text-align: right;
    color: #33b150;
}
.other_choose_text:hover {
    color: #307239;
    cursor: pointer;
}
.other_reply {
    margin-top: 20px;
}
.one_reply {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.user_head_img {
    width: 70px;
    height: 70px;
}

.one_reply img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.other_reply_text {
    width: 800px;
    font-size: 16px;
}
.other_reply_text2 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #999999;
}
.other_reply_text2 span {
    color: #333333;
}
.dianzan {
    cursor: pointer;
}

/* 点赞样式 */
.isactive {
    color: #81d283 !important;
}

/* 分页器 */
.page_area {
    text-align: center;
    /*cursor: pointer;*/
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #81d283;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    color: #81d283;
    cursor: pointer;
}
.pagination>li>a, .pagination>li>span {
    padding: 5px 15px;
    font-size: 14px;
}





