/* 实训报告上传样式 */
.stu_report_content {
    margin-top: 60px;
    padding: 0 40px;
}
.report_content_text p{
    font-size: 16px;
    margin-bottom: 20px;
}
.report_content_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.report_content_text span {
    cursor: pointer;
    color: #81d283;
}
.report_content_text span:hover {
    color: #31b24e;
}
.modal-content {
    min-height: auto;
}
/* 文件模态框 */
.imgtitle {
    margin: 30px 100px;
}
/* 个人报告 */

.righttitle a {
    color: #31b24e;
}
.righttitle a:hover {
    text-decoration: none;
}
/* 没有数据时的样式 */
.no_data_tea {
    display: none;
    margin: 0;
    padding: 100px;
    text-align: center;
}
/* 个人报告的内容 */
.announcement_content {
    margin-top: 70px;
}
/*  个人报告的一块内容 */
.announcement_information {
    margin-bottom: 40px;
    padding: 30px;
    height: 220px;
    border: 1px solid #81d283;
    border-radius: 20px;
}
.announcement_btn{
    float: right;
    position: relative;
    top: -10px;
}
.announcement_btn button {
    padding: 5px;
    font-size: 16px;
    color: #81d283;
    background: none;
    border: none;
}
.announcement_btn button:hover {
    color: #31b24e;
}

.announcement_text p {
    font-size: 16px;
}
.announcement_text .announcement_text_content {
    font-size: 14px;
    font-weight: normal;
}

/* 报告预览 */
.preview_content {
    margin-top: 50px;
}
.report_title_text {
    margin: 20px 0px;
    font-size: 18px;
}
/* 文档预览样式 */
.textcontent {
    /*border: 1px solid #ccc;*/
    width: 900px;
    min-height: 500px;
    display: none;
}
.textcontent iframe {
    width: 900px !important;
    height: 645px;
    border: 1px solid #CCCCCC;
    /*border-radius: 5px;*/
    box-shadow: 0px 0px 5px #CCCCCC;
}