<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学习排行</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../package/bootstrapvalidator-master/dist/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../css/teachpublic.css">
    <link rel="stylesheet" href="../css/scoresranking.css">
    <link rel="stylesheet" href="../css/page.css">
    <style>
    .pagebox{
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="maincontent">
    <!-- 头部导航栏开始 -->
    <div class="header">
        <div class="banxin">
            <img src="../img/未标题-10.png" class="logo" alt="">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="">课程</a></li>
                <li><a href="">院校</a></li>
                <li><a href="">立体教材</a></li>
            </ul>
            <div class="search">
                <img class="searchicon" src="../img/未标题-1.png" ></img>
                <input type="text" placeholder="搜索课程或学校">
            </div>
            <div class="login">
                <a href="">
                    <img class="loginicon" src="../img/未标题-2.png"></img>
                </a>
                <!-- 这里的模态框用js实现 -->
                <div class="register" data-toggle="modal" data-target="#myModal">注册</div>
                <!-- 要显示新模态框，修改data-target中的ID就可以了 -->
                <div class="log" data-toggle="modal" data-target="#myModal1">登录</div>
            </div>
        </div>
    </div>
    <!-- 头部导航栏结束 -->
        <div class="mainpartportion">
            <div class="banxin clearfix">
                <div class="leftcatalogue">
                    <div class="schoolnam clearfix">
                            <img src="../img/schoolimg.png" alt="" class="fl schoollogo">
                            <div class="fl schnam">上海职业技术学院</div>
                    </div>
                    <div class="course">
                        <img src="../images/kecheng1.png" alt="" class="courseimg">
                        <!-- <div class="coursenam">建筑材料性能检测</div> -->
                    </div>
                    <div class="cataloguenam">
                        <a class="left_menu_coursehomepage" href="" >课程首页</a>
                        <a class="left_menu_scoresranking active" href="" >学习排行</a>
                        <a class="left_menu_announcement" href="">系统公告</a>
                        <a class="left_menu_standard" href="" >评分标准</a>
                        <a class="left_menu_onlinestudy" href="">在线学习</a>
                        <a class="left_menu_test" href="">作业与测试</a>
                        <a class="left_menu_discussion" href="">讨论</a>
                    </div>
                    <div class="share">
                        <div></div>
                        <a href=""></a>
                    </div>
                </div>
                <div class="rightresult">
                    <div class="righttitle clearfix">

                            <a class="studybutton fl">学习进度排行</a>
                            <a class="scoresbutton fl">学习成绩排行</a>

                    </div>
                    <div class="rightcontent">
                        <div class="studysearch">
                            <input type="text" placeholder="输入学生姓名" >
                            <img src="../img/searchimg.png" alt="" class="searchimg">
                        </div>
                        <table class="mytable">
                            <tr>
                                <th width="120px">我的进度</th>
                                <th width="100px">张佳</th>
                                <th width="250px">上海城市科技学校</th>
                                <th width="175px">65时12分12秒</th>
                                <th  width="100px">15%</th>
                                <th width="100px">188</th>
                            </tr>
                        </table>
                        <table class="schedule">
                            <tr>
                                <th width="120px">序号</th>
                                <th width="100px">姓名</th>
                                <th width="250px">学校/单位</th>
                                <th width="175px">学习时长</th>
                                <th  width="100px">学习进度</th>
                                <th width="100px">排名</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <!-- <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr> -->
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>65时12分12秒</td>
                                <td>100%</td>
                                <td>1</td>
                            </tr>                            
                        </table>

                        
                        <table class="scoreranking">
                            <tr>
                                    <td>我的成绩</td>
                                    <td>张佳</td>
                                    <td>上海城市科技学校</td>
                                    <td>100</td>
                                    <td>1</td>
                                </tr>
                            <tr>
                                <th width="120px">序号</th>
                                <th width="100px">姓名</th>
                                <th width="250px">学校/单位</th>
                                <th width="175px">学习成绩</th>
                                <th width="100px">排名</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>88</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>张思</td>
                                <td>上海城市科技学校</td>
                                <td>99</td>
                                <td>1</td>
                            </tr>

                        </table>
                        <div class="pagebox">
                                <div class="tcdPageCode a">

                                </div>
                        </div>
                        <div class="pagebox">
                            <div class="tcdPageCode b">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>   
       
    <!-- 底部开始 -->
    <div class="footercontenter">
        <div class="footer">
            <div class="banxin footerbanxin">
                <div class="footercenter">
                    沪公网备案  *****号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COPYRIGHT © 2008-2012 兰鸿科技
                </div>
            </div>
        </div>
    </div>
    <!-- 底部结束 -->
    <!-- 注册模态框开始 -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="registertitle">
                    用户注册
              </div>
              <form id="registerform" name="register"  class="registerform" action="">
                  <div class="form-group">
                       
                        <input  name="telephoneemail" placeholder="输入邮箱或手机号" class="telephone" type="text">
                  </div>
                  <div class="form-group">
                        
                        <input name="username" placeholder="输入用户名" class="username" type="text">
                  </div>
                  <div class="form-group">
            
                        <input id="password" name="password" placeholder="输入密码" class="password" type="password">
                  </div>
                  <!-- <div class="nameexist">该用户名已存在</div> -->
                  <div class="registerbutton">立即注册</div>
                  <div class="elseregister">
                    <span>其它登录方式</span>  
                      <a href=""><img src="../img/qq.png" alt=""></a>
                      <a href=""><img src="../img/weixin.png" alt=""></a>
                      <a href=""><img  src="../img/xinlang.png" alt=""></a>
                      <div class="nameexist">该用户名已存在</div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    <!-- 注册模态框结束 -->
    <!-- 登录模态框开始 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="registertitle">
                            用户登录
                      </div>
                      <form class="registerform loginform" id="loginform" action="">
                          <div class="form-group">
                          <input  placeholder="输入用户名" name="username" class="telephone" type="text">
                          </div>
                          <div class="form-group">
                                <input placeholder="输入密码" name="password" class="username" type="password">
                          </div>

                          <div class="codefather clearfix">
                                <input  placeholder="输入验证码" name="code" class="code" type="text">
                                <img src="../img/code.png" class="codeimg"></img>
                                <div class="check">换一张</div>
                                <div class="codeerr uperr">
                                    ⓧ 用户名或密码错误
                                </div>
                                <div class="codeerr cerr">
                                    ⓧ 验证码错误
                                </div>
                          </div>

                          <div class="loginbutton">立即登录</div>
                          <div class="else">

                            <div class="linkregister">注册</div>
                            <div class="forget">忘记密码</div>
                            <span>其它登录方式</span>  
        
                              
                             <a href=""><img src="../img/qq.png" alt=""></a>
                             <a href=""> <img src="../img/weixin.png" alt=""></a>
                             <a href=""><img  src="../img/xinlang.png" alt=""></a>   
                          </div>
                      </form>
            </div>
        </div>
    </div>
    <!-- 登录模态框结束 -->
</body>
<!-- <script src="../node_modules/echarts/dist/echarts.common.js" ></script> -->

<!-- 进度的模板开始 -->
<script id="table" type="text/html">
    <tr>
        <th width="120px">序号</th>
        <th width="100px">姓名</th>
        <th width="250px">学校/单位</th>
        <th width="175px">学习时长</th>
        <th  width="100px">学习进度</th>
        <th width="100px">排名</th>
    </tr>
    <% for(var i=0; i< person.length; i++){ %>
        <% var a = person[i] %>
        <tr>
            <td><%= i + 1 +(page-1)*10 %></td>
            <td><%= a.username %></td>
            <td> <%= a.school %></td>
            <td> <%= a.hour %>时 <%= a.minute %>分<%= a.second %>秒</td>
            <td> <%= a.zplan %>%</td>
            <td><%=  %></td>
        </tr>
    <%}%>
</script>
<script id="mytable" type="text/html">

   
        <% var a = person[0][0] %>
            <tr>
                <td width="120px"><%= i + 1 %></td>
                <td width="100px"><%= a.username %></td>
                <td width="250px"> <%= a.school %></td>
                <td width="175px"> <%= a.hour %>时 <%= a.minute %>分<%= a.second %>秒</td>
                <td width="100px"> <%= a.zplan %>%</td>
                <td width="100px"><%= i + 1 %></td>
            </tr>
</script>
<!-- 进度的模板结束 -->


<!-- 成绩的模板开始 -->
<script id="scoreranking" type="text/html">
    <tr>
        <th width="120px">序号</th>
        <th width="100px">姓名</th>
        <th width="250px">学校/单位</th>
        <th width="175px">学习成绩</th>
        <th width="100px">排名</th>
    </tr>
    <% for(var i=0; i< person.length; i++){ %>
        <% var a = person[i] %>
        <tr>
            <td><%= i + 1 +(page-1)*10 %></td>
            <td><%= a.username %></td>
            <td> <%= a.school %></td>
            <td> <%= a.score %></td>
            <td> <%= i + 1 +(page-1)*10 %></td>
            <td></td>
        </tr>
    <%}%>
</script>

<script id="myscoreranking" type="text/html">

   
    <% var a = person[0][0] %>
    <% var b = person[0][1] %>
        <tr>
            <td width="120px"></td>
            <td width="100px"><%= a.username %></td>
            <td width="250px"> <%= a.school %></td>
            <td width="175px"> <%= a.score %></td>
            <td width="100px"></td>
            <td width="100px"></td>
        </tr>
</script>
<!-- 成绩的模板结束 -->

<script src="../node_modules/jquery/dist/jquery.min.js" ></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../node_modules/art-template/lib/template-web.js" ></script>
<script src="../package/bootstrapvalidator-master/dist/js/bootstrapValidator.min.js" ></script>
<script src="../js/public.js" ></script>
<script src="../package/jquerypage.js" ></script>
<script> 

    //  设置学校名称字数超出显示省略号……
    function ellipsis(num) {
        $(".schnam").each(function () {
            var maxwidth = num;
            console.log($(this).text());
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '…');
            }
        });
    }
    ellipsis(7);//要显示的字符数 Number
    
    // 一开始进入页面发送一次ajax渲染进度数据。
    $(".tcdNumber").on("click",function(){
        alert(1)
    })

    //  点击某一页，渲染那一页的数据
    //进度页码数
    function clickpage(){

      //进度数据
      $.ajax({
            type:"GET",
            url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/pagetwo?cid=1",
            dataType:"json",
            // crossDomain: true,//是否跨域:是
            // jsonp: "jsonpcallback",
            success:function(data){
                console.log("进度数据",data);
                var result = data;
                var htmlx = template("table",{person: result,page: 1});
                $(".schedule").html(htmlx);
            },
            error:function(jqXHR){
                console.log("发生错误:"+jqXHR.status);
            }
    });  
    // 获取我的数据
   
    $.ajax({
        type:"GET",
        url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/oneself",
        dataType:"json",
        data: {cid: 1,uid: 1},
        // crossDomain: true,//是否跨域:是
        // jsonp: "jsonpcallback",
        success:function(data){
            console.log('用户自身的进度数据',data);
            var result = data;
            var html = template("mytable",{person: result});
            $(".mytable").html(html);
            
        },
        error:function(jqXHR){
            console.log("发生错误:"+jqXHR.status);


        }
    }); 


    $.ajax({
        type:"GET",
        url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/pge",
        dataType:"json",
        data: {cid: 1},
        success:function(data){
            console.log('进度页码数',data);
            //点击分页开始
            $(".a").createPage({ 
                pageCount: data, 
                current:1, 
                backFn:function(p){ 
                console.log(p); 
                //进度数据
                $.ajax({
                    type:"GET",
                    url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/page",
                    dataType:"json",
                    data: {page: p,cid: 1},
                    // crossDomain: true,//是否跨域:是
                    // jsonp: "jsonpcallback",
                    success:function(data){
                        console.log('总页码数',data);
                        var result = data;
                        var htmlx = template("table",{person: result,page: p});
                        $(".schedule").html(htmlx);

                    },
                    error:function(jqXHR){
                        console.log("发生错误:"+jqXHR.status);
                    }
                }); 
                } 
            }); 
            //点击分页结束
        },
        error:function(jqXHR){
            console.log("发生错误:"+jqXHR.status);
        }
    });      


    }
 
    clickpage();



    // 判断当前页面是成绩排行还是进度排行
    var that = 0;

    //  学习排行
    // 在未单击课程目录时

    // 学习成绩排行
    $('.scoresbutton').on("click",function(){
        $(".b").css({"display":"inline-block"})
        $(".a").css({"display":"none"})
        // 改变按钮颜色
        $(this).css({"background-color":"#33b150"})
        $('.studybutton').css({"background-color":"#81d282"})

        // $(".tcdPageCode").removeClass("a").addClass("b");
      //成绩数据
      $.ajax({
            type:"GET",
            url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/page?cid=1",
            dataType:"json",
            // crossDomain: true,//是否跨域:是
            // jsonp: "jsonpcallback",
            success:function(data){
                console.log("成绩数据",data);
                var result = data;
                var htmlx = template("scoreranking",{person: result,page: 1});
                $(".schedule").html(htmlx);
            },
            error:function(jqXHR){
                console.log("发生错误:"+jqXHR.status);
            }
    });  
    // 获取我的数据
    $.ajax({
        type:"GET",
        url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/twoself",
        dataType:"json",
        data: {cid: 1,uid: 1},
        // crossDomain: true,//是否跨域:是
        // jsonp: "jsonpcallback",
        success:function(data){
            console.log('用户自身的成绩数据',data);
            var result = data;
            var html = template("myscoreranking",{person: result});
            $(".mytable").html(html);
            
        },
        error:function(jqXHR){
            console.log("发生错误:"+jqXHR.status);


        }
    }); 


    $.ajax({
        type:"GET",
        url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/pgeone?cid=1",
        dataType:"json",
        data: {cid: 1},
        success:function(data){
            console.log('成绩页码数',data);
            //点击分页开始
            $(".b").createPage({ 
                pageCount: data, 
                current:1, 
                backFn:function(p){ 
                console.log(p); 
                //进度数据
                $.ajax({
                    type:"GET",
                    url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/page?cid=1",
                    dataType:"json",
                    data: {page: p,cid: 1},
                    // crossDomain: true,//是否跨域:是
                    // jsonp: "jsonpcallback",
                    success:function(data){
                        console.log('总页码数',data);
                        var result = data;
                        var htmlx = template("scoreranking",{person: result,page: p});
                        $(".schedule").html(htmlx);

                    },
                    error:function(jqXHR){
                        console.log("发生错误:"+jqXHR.status);
                    }
                }); 
                } 
            }); 
            //点击分页结束
        },
        error:function(jqXHR){
            console.log("发生错误:"+jqXHR.status);
        }
    });      

        // 成绩的页码数//
        $.ajax({
            type:"GET",
            url:"http://192.168.1.110/lanhong/index.php/home/Studymanage/pgeone",
            dataType:"json",
            data: {cid: 1},
            // crossDomain: true,//是否跨域:是
            // jsonp: "jsonpcallback",
            success:function(result){
                console.log("成绩的页码数",result);
                
            },
            error:function(jqXHR){
                console.log("发生错误:"+jqXHR.status);


            }
        });    
    })



    // 学习进度排行
    $('.studybutton').on("click",function(){
        //inline-block可以解决block无法居中的问题。
        $(".a").css({"display":"inline-block"})
        $(".b").css({"display":"none"})
        // 改变按钮颜色
        $(this).css({"background-color":"#33b150"})
        $('.scoresbutton').css({"background-color":"#81d282"})
     
        clickpage();


    })


</script> 

</html>